<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar">
        <div class="sidebar-header">
          <h3>Admin Panel</h3>
        </div>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" (click)="goToAdminStudent()"
              [ngStyle]="{ 'cursor': activeContent === 'students' ? 'default' : 'pointer'}">
              <img src="https://img.icons8.com/ios-filled/50/000000/user.png">
              Students
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="goToAdminClassroom()"
              [ngStyle]="{ 'cursor': activeContent === 'classrooms' ? 'default' : 'pointer'}">
              <img src="https://img.icons8.com/ios-filled/50/000000/classroom.png">
              Classrooms
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngStyle]="{ 'cursor': activeContent === 'exams' }">
              <img src="https://img.icons8.com/ios-filled/50/000000/book.png">
              Exams
            </a>
          </li>
          <li class="nav-item" style="margin-bottom: 5em;">
            <button (click)="logout()" class="btn">
              <img src="https://img.icons8.com/ios-filled/50/000000/power-off-button.png">
              <span style="color: red"> Logout</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h4>Exams</h4>
          <button type="button" class="btn btn-primary" (click)="openCreateExamModal()">Create New Exam</button>
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center align-middle">Name</th>
                <th class="text-center align-middle">Date</th>
                <th class="text-center align-middle">Duration</th>
                <th class="text-center align-middle">Classroom</th>
                <th class="text-center align-middle">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let exam of exams">
                <td class="text-center align-middle">
                  <a href="javascript:void(0)" (click)="openExamQuestionsModal(exam)">
                    {{ exam.name }}
                  </a>
                </td>
                <td class="text-center align-middle">{{ exam.startDate | date:'yyyy-MM-dd - HH:mm' }} <br> {{
                  exam.endDate | date:'yyyy-MM-dd - HH:mm' }} </td>
                <td class="text-center align-middle">{{ exam.duration }} minutes</td>
                <td class="text-center align-middle">{{ exam.classroom.name }}</td>
                <td class="text-center align-middle">
                  <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button class="btn btn-sm btn-success" (click)="openCustomizeModal(exam)">Add Question</button>
                    <button class="btn btn-sm btn-primary" (click)="openEditExamModal(exam)">Edit Exam Info</button>
                    <button class="btn btn-sm btn-danger" (click)="deleteExamWithRelatedEntities(exam)">Delete</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
<div id="createExamModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Exam</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="newExamName" class="form-label">Exam Name</label>
            <input type="text" class="form-control" id="newExamName" [(ngModel)]="newExamName" name="newExamName"
              required>
          </div>
          <div class="mb-3">
            <label for="newExamStartDate" class="form-label">Start Date</label>
            <input type="datetime-local" class="form-control" id="newExamStartDate" [(ngModel)]="newExamStartDate"
              name="newExamStartDate" required>
          </div>
          <div class="mb-3">
            <label for="newExamEndDate" class="form-label">End Date</label>
            <input type="datetime-local" class="form-control" id="newExamEndDate" [(ngModel)]="newExamEndDate"
              name="newExamEndDate" required>
          </div>
          <div class="mb-3">
            <label for="newExamDuration" class="form-label">Duration (minutes)</label>
            <input type="number" class="form-control" id="newExamDuration" [(ngModel)]="newExamDuration"
              name="newExamDuration" required>
          </div>
          <div class="mb-3">
            <label for="selectedExamClassroom" class="form-label">Classroom</label>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="classroomDropdown"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ selectedExamClassroom?.name || 'Select Classroom' }}
              </button>
              <div class="dropdown-menu" aria-labelledby="classroomDropdown">
                <a class="dropdown-item" *ngFor="let classroom of classrooms"
                  (click)="selectExamClassroom(classroom)">{{ classroom.name }}</a>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="createExam()">Create Exam</button>
      </div>
    </div>
  </div>
</div>

<div id="editExamModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Exam</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="newExamName" class="form-label">Exam Name</label>
            <input type="text" class="form-control" id="newExamName" [(ngModel)]="newExamName" name="newExamName"
              required>
          </div>
          <div class="mb-3">
            <label for="newExamStartDate" class="form-label">Start Date</label>
            <input type="datetime-local" class="form-control" id="newExamStartDate" [(ngModel)]="newExamStartDate"
              name="newExamStartDate" required>
          </div>
          <div class="mb-3">
            <label for="newExamEndDate" class="form-label">End Date</label>
            <input type="datetime-local" class="form-control" id="newExamEndDate" [(ngModel)]="newExamEndDate"
              name="newExamEndDate" required>
          </div>
          <div class="mb-3">
            <label for="newExamDuration" class="form-label">Duration (minutes)</label>
            <input type="number" class="form-control" id="newExamDuration" [(ngModel)]="newExamDuration"
              name="newExamDuration" required>
          </div>
          <div class="mb-3">
            <label for="newExamClassroom" class="form-label">Classroom</label>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="classroomForExamDropdown"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ newExamClassroom?.name || 'Select Classroom' }}
              </button>
              <div class="dropdown-menu" aria-labelledby="classroomDropdown">
                <a class="dropdown-item" *ngFor="let classroom of classrooms"
                  (click)="selectClassroomForExam(classroom)">{{ classroom.name }}</a>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateExam()">Save Changes</button>
      </div>
    </div>
  </div>
</div>

<div id="customizeModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Customize Question</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <span class="input-group-text">Question {{ newQuestionNumber }}</span>
          <input [(ngModel)]="currentQuestionTitle" type="text" class="form-control" placeholder="Enter question title">
        </div>
        <div class="input-group mt-3">
          <input type="range" min="2" max="5" [(ngModel)]="numberOfChoices" (change)="onRangeChange(numberOfChoices)">
          <span class="input-group-text">{{ numberOfChoices }} Choices</span>
          <button *ngIf="numberOfChoices > 0" (click)="saveQuestion()" type="button" class="btn btn-success ms-3">Save
            Question</button>
        </div>
        <div *ngFor="let choice of choicesArray; let i = index" class="mt-3">
          <div class="input-group">
            <span class="input-group-text">{{ 'ABCDE'[i] }}</span>
            <input [(ngModel)]="choice.description" type="text" class="form-control" required
              placeholder="Enter choice description">
            <input [(ngModel)]="choice.correct" type="radio" [value]="true" [name]="'correct' + i" required
              (change)="onRadioChange(i)">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button [disabled]="createChoiceButtonDisabled" (click)="createQuestionWithChoices()" type="button"
          class="btn btn-primary">Create Question</button>
      </div>
    </div>
  </div>
</div>

<div id="examQuestionsModal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ selectedExam?.name }} Questions</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngFor="let question of questionsForExam" class="accordion">
          <div class="accordion-item">
            <h2 class="accordion-header" [id]="'heading' + question.id">
              <button class="accordion-button" type="button" [attr.data-bs-toggle]="'collapse'"
                [attr.data-bs-target]="'#collapse' + question.id" aria-expanded="true"
                [attr.aria-controls]="'collapse' + question.id">
                {{ question.questionNumber }}-) {{ question.title }}
              </button>
            </h2>
            <div [id]="'collapse' + question.id" class="accordion-collapse collapse show"
              [attr.aria-labelledby]="'heading' + question.id">
              <div class="accordion-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="text-center">Choice Name</th>
                      <th class="text-center">Description</th>
                      <th class="text-center">Correct</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let choice of getChoicesForQuestion(question)">
                      <td class="text-center">{{ choice.name }}</td>
                      <td class="text-center">{{ choice.description }}</td>
                      <td class="text-center">{{ choice.correct }}</td>
                    </tr>
                  </tbody>
                </table>
                <button class="btn btn-danger" (click)="deleteQuestionWithRelatedEntities(question)">Delete
                  Question</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>